{% extends "login_base.html" %}
{% block title %} Banking | Password Reset{% endblock %}
{% block main %}
{% load static %}
        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="{% static 'images/signin-image.jpg' %}" alt="sing up image"></figure>
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Complete Registration!</h2>
                        {% if data.success %}
                            <p class="mb-4" style="color:green">
                                {{data.success}}</p>

                                      <form action="/">
                                        <div class="form-group form-button">
                                            <input type="submit" name="login" id="login" class="form-submit" value="Sign In"/>
                                        </div>

                                      </form>
                          {% endif %}

                          {% if data.err %}
                              <p class="mb-4" style="color:red">	{{data.err}}</p>
                          {% endif %}

                          {% if data.confirm_registration %}
                              <p class="mb-4" style="color:green">	{{data.confirm_registration}}</p>
                          {% endif %}
                    </div>
                </div>
            </div>
        </section>
        {% endblock %}
