{% extends "login_base.html" %}
{% block title %}Digital Mine | Reset Password{% endblock %}

{% block main %}

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-2">Complete Registration!</h1>
                      {% if data.success %}
                          <p class="mb-4" style="color:green">
                              {{data.success}}</p>
                                    <form action="/">
                                        <input type="submit" class="fadeIn fourth" value="Log In">
                                    </form>
                        {% endif %}

                        {% if data.err %}
                            <p class="mb-4" style="color:red">	{{data.err}}</p>
                        {% endif %}

                        {% if data.confirm_registration %}
                            <p class="mb-4" style="color:green">	{{data.confirm_registration}}</p>
                        {% endif %}
                  </div>
                  <hr>
                  <div class="text-center">
                    <a class="small" href="{% url 'signup' %}">Create an Account!</a>
                  </div>
                  <div class="text-center">
                    <a class="small" href="{% url 'login' %}">Already have an account? Login!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
{% endblock %}
