{% extends "login_base.html" %}
{% block title %} Banking | Password Reset{% endblock %}
{% block main %}
{% load static %}
        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="{% static 'images/signin-image.jpg' %}" alt="sing up image"></figure>
                        <a href="/accounts/signup" class="signup-image-link">Create an account</a>
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Reset Password</h2>
                        {% if validlink %}
                        <form method="POST" class="register-form" id="login-form">
                           {% csrf_token %}
                           <div class="form-group">
                               <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                               <input type="password" required name="new_password1" id="your_pass" placeholder="Password"/>
                           </div>
                           <small>
                              {% for error in form.new_password1.errors %}
                                  {% if form.password1.help_text %}

                                  {% endif %}
                              <p style="color: red">{{ error }}</p>
                              {% endfor %}
                          </small>
                           <div class="form-group">
                               <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                               <input type="password" required name="new_password2" id="your_pass" placeholder="Repeat Password"/>
                           </div>
                           <small>
                              {% for error in form.new_password2.errors %}
                                  {% if form.password2.help_text %}
                                  {% endif %}
                              <p style="color: red">{{ error }}</p>
                              {% endfor %}
                          </small>
                            <div class="form-group form-button">
                                <input type="submit" name="signin" id="signin" class="form-submit" value="Reset Password"/>
                            </div>
                        </form>
                       {% else %}
                        <p class="mb-4">The password reset link was invalid, possibly because it has already been used.Please request a new password reset.</p>
                      {% endif %}
                    </div>
                </div>
            </div>
        </section>
        {% endblock %}
