{% extends "login_base.html" %}
{% block title %} Login {% endblock %}

{% block main %}
<style>
	#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 90%;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}
</style>
<div class="row">

	<div class="wrapper fadeInDown">
		<div id="formContent">
			<br>
			<h3 align="center"><span class="icon fa fa-users" aria-hidden="true"></span> Password Reset Sent </h3>
			<br>

			<p style="color:green">
				We've emailed you instructions for setting your password, if an account exists with the email you entered.
				You should receive them shortly.If you don't receive an email, please make sure you've entered the address
				you registered with, and check your spam folder.</p>

<!--			<form action="../../login">-->
<!--			<input type="submit" class="fadeIn fourth" value="Log In">-->
<!--			</form>-->
		</div>
	</div>

</div>
{% endblock %}