{% extends "login_base.html" %}
{% block title %} Banking | Password Reset{% endblock %}
{% block main %}
{% load static %}
        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="{% static 'images/signin-image.jpg' %}" alt="sing up image"></figure>
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Password Reset Email Sent!</h2>
                        <p class="mb-4">We've emailed you instructions for setting your password, if an account exists with the email you entered.
    				You should receive them shortly.If you don't receive an email, please make sure you've entered the address
    				you registered with, and check your spam folder.</p>
                    </div>
                </div>
            </div>
        </section>
        {% endblock %}
