{% extends "login_base.html" %}
{% block title %} Login {% endblock %}

{% block main %}
<style>
	#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;

  width: 90%;
  height:50%;
  max-width: 90%;

  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}
</style>
<div class="row">
		<div class="wrapper fadeInDown">
		<div id="formContent">
			<br>
			<h3 align="center"><span class="icon fa fa-users" aria-hidden="true"></span> Reset Password </h3>
			<br>
			<form method="post">
			    {% csrf_token %}
			    <input type="hidden" name="next" value="{{ next }}" />
		    		{% include 'form.html' %}
					{% block extraheader %}{% endblock %}
					<input type="submit" class="fadeIn fourth" value="Submit">
			</form>
			<br><br>
		</div>
		<div class="col-md-4">&nbsp;</div>
</div>
{% endblock %}