{% extends "login_base.html" %}
{% block title %} Login {% endblock %}

{% block main %}
<style>
	#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 90%;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}
</style>
<div class="row">
dfgfg
	<div class="wrapper fadeInDown">
		<div id="formContent">
			<br>
			 {% if validlink %}
			<h3 align="center"><span class="icon fa fa-users" aria-hidden="true"></span> Change Password</h3>
			<br>
			<form method="POST">
				{% csrf_token %}
			  	{{ form.as_p }}
				<input type="submit" class="fadeIn fourth" value="Change My Password">
			</form>
			{% else %}
			<p style="color:red">
			  The password reset link was invalid, possibly because it has already been used.
			  Please request a new password reset.
			</p>
			  {% endif %}
		</div>
	</div>

</div>
{% endblock %}