{% extends "login_base.html" %}
{% block title %} Digital Mine | Password Change Done!{% endblock %}

{% block main %}
<style>
	#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 90%;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}
</style>
<div class="row">

	<div class="wrapper fadeInDown">
		<div id="formContent">
			<br>
			<h3 align="center"><span class="icon fa fa-users" aria-hidden="true"></span> Password Change Successful </h3>
			<br>

			<p style="color:green">
				Your Password was Changed</p>

<!--			<form action="../../login">-->
<!--			<input type="submit" class="fadeIn fourth" value="Log In">-->
<!--			</form>-->
		</div>
	</div>

</div>
{% endblock %}