{% extends "login_base.html" %}
{% block title %} Banking | Password Reset{% endblock %}
{% block main %}
{% load static %}
        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="{% static 'images/signin-image.jpg' %}" alt="sing up image"></figure>
                    </div>
                    <div class="signin-form">
                        <h2 class="form-title">Welcome Back!</h2>
                        <p class="mb-4">Your password has been Changed. You may go ahead and Sign in now</p>
                        <div class="form-group form-button">
                            <a href="{% url 'login' %}"><div class="form-submit">Sign In</div></a>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        {% endblock %}
