{% extends "login_base.html" %}
{% block title %}Digital Mine | Confirmation{% endblock %}

{% block main %}

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                  </div>
                     {% if validlink %}
                  <form class="user" method="post">
                      {% csrf_token %}
                    <div class="form-group">
                      <input type="password" name="new_password1" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Password">
                         <small>
                        {% for error in form.new_password1.errors %}
                            {% if form.password1.help_text %}

                            {% endif %}
                        <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </small>
                    </div>
                    <div class="form-group">
                      <input type="password" name="new_password2" class="form-control form-control-user" id="exampleInputPassword" placeholder="Repeat Password">
                         <small>
                        {% for error in form.new_password2.errors %}
                            {% if form.password2.help_text %}

                            {% endif %}
                        <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </small>
                    </div>
                      <input type="submit" class="btn btn-primary btn-user btn-block" value="Change Password"><br>
                  </form>
                         {% else %}
                        The password reset link was invalid, possibly because it has already been used.
			  Please request a new password reset.
                {% endif %}
                  <hr>
                  <div class="text-center">
                    <a class="small" href="{% url 'password_reset' %}">Forgot Password?</a>
                  </div>
                  <div class="text-center">
                    <a class="small" href="{% url 'signup' %}">Create an Account!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
{% endblock %}
