{% extends "login_base.html" %}
{% block title %} Banking | Sign In{% endblock %}
{% block main %}
{% load static %}
        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Sign up</h2>
                        <form method="POST" class="register-form" id="register-form">
                          {% csrf_token %}
                          <div class="form-group">
                              <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                              <small>
                                  {% for error in form.first_name.errors %}
                                      {% if form.first_name.help_text %}
                                          <small style="">{{ form.first_name.help_text }}</small>-->
                                      {% endif %}
                                  <p style="color: red">{{ error }}</p>
                                  {% endfor %}
                              </small>
                              <input type="text" required name="first_name" id="name" placeholder="First Name"/>
                          </div>
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <small>
                                    {% for error in form.last_name.errors %}
                                        {% if form.last_name.help_text %}
                                            <small style="">{{ form.last_name.help_text }}</small>-->
                                        {% endif %}
                                    <p style="color: red">{{ error }}</p>
                                    {% endfor %}
                                </small>
                                <input type="text" required name="last_name" id="name" placeholder="Last Name"/>
                            </div>
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <small>
                                    {% for error in form.username.errors %}
                                        {% if form.username.help_text %}
                                            <small style="">{{ form.username.help_text }}</small>-->
                                        {% endif %}
                                    <p style="color: red">{{ error }}</p>
                                    {% endfor %}
                                </small>
                                <input type="text" required name="username" id="username" placeholder="Username"/>
                            </div>
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <small>
                                    {% for error in form.email.errors %}
                                        {% if form.email.help_text %}
                                            <small style="">{{ form.email.help_text }}</small>-->
                                        {% endif %}
                                    <p style="color: red">{{ error }}</p>
                                    {% endfor %}
                                </small>
                                <input type="email" required name="email" id="email" placeholder="Your Email"/>
                            </div>
                            <div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                <small>
                                    {% for error in form.password1.errors %}
                                        {% if form.password1.help_text %}
                                            <small style="">{{ form.password1.help_text }}</small>-->
                                        {% endif %}
                                    <p style="color: red">{{ error }}</p>
                                    {% endfor %}
                                </small>
                                <input type="password" required name="password1" id="pass" placeholder="Password"/>
                            </div>
                            <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                <small>
                                    {% for error in form.password2.errors %}
                                        {% if form.password2.help_text %}
                                            <small style="">{{ form.password2.help_text }}</small>-->
                                        {% endif %}
                                    <p style="color: red">{{ error }}</p>
                                    {% endfor %}
                                </small>
                                <input type="password" required name="password2" id="re_pass" placeholder="Repeat your password"/>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                                <label for="agree-term" required class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="{% static 'images/signup-image.jpg' %}" alt="sing up image"></figure>
                        <a href="/accounts/login" class="signup-image-link">I am already member</a>
                    </div>
                </div>
            </div>
        </section>
  {% endblock %}
